<head>
    <title>Book.ed</title>
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
    <link rel="stylesheet" href="
    ../static/bookedStyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../static/indexScript.js"></script>
</head>
<body>
	<img id='logo' src="../static/logo.png"></img>
	<img id='visualisationLogo' src="../static/visLogo.png"></img>
	<div id='header'></div>
    <div id = 'mainInterface'>
		<div id='suggestion'>
        	<h1>Book.ed</h1>
			<p1 id='locationAlert' style='position: absolute;
left: 138px'>Location services must be allowed to use this website.</p1>
			<h2 style='font-size:30px; margin-bottom:20px; margin-top:175px'>Find me somewhere...</h2>
			<button id='privateBtn'>Private</button><!--replace style with class later-->
        		<button id = 'quietBtn'>Quiet</button>
        		<button id = 'closeBtn'>Close</button>
				<button id = 'lateBtn'>Open til late</button>
		</div>
    </div>
</body>
