<head>
    <title>Book.ed</title>
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
    <link rel="stylesheet" href="
    ../static/bookedStyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	<img id='logo' src="../static/logo.png"></img>
	<img id='visulisationLogo' src="../static/visLogo.png"></img>
	<div id='header'></div>
    <div id = 'mainInterface'>
		<div id='suggestion' style='height:540px'>
        	<h1 style='font-size:30px'>Main Library Visualisation</h1>
			<div style='width:600px; height:400px;background-color:black;margin-left:-10px;margin-bottom:10px'></div>
			<p2 style='text-align: justify; width: 580px; right: auto; position:absolute;'>Here you can see a 3D map of all the computer labs in the Main Library.  On this map, the colour of the lab represents how busy it is, on a scale of green (empty) to red (full).  Grey denotes rooms which aren't labs, while blue denotes study facilities such as printers.  </p2>
			<p2 style='margin-top:10px position:absolute;top:55'>Controls: Click and drag to rotate, double click to pan to position,scroll to zoom in and out</p2>
		</div>
    </div>
	<!--#suggestion{
	height: 330px;
	width: 580px;
	padding:10px;
	background-color: rgba(4,24,39,0.9);
}-->
</body>
