<head>
    <title>Book.ed</title>
	<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
    <link rel="stylesheet" href="
    ../static/bookedStyle.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	<img id='logo' src="../static/logo.png"></img>
	<img id='visulisationLogo' src="../static/visLogo.png"></img>
	<div id='header'></div>
    <div id = 'mainInterface'>
		<div id='suggestion' style='height:500px'>
        	<h1 style='font-size:30px'>Main Library Visualisation</h1>
			<div style='width:600px; height:400px;background-color:black;margin-left:-10px;'></div>
			<p2>This app is cool and does some stuff</p2>
		</div>
    </div>
</body>
